In [36]:
%reload_ext sql
%sql sqlite:///cars2.db

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS cars (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    make TEXT,
    model TEXT,
    year INTEGER,
    price REAL,
    color TEXT
);

In [ ]:
%%sql
INSERT INTO cars (make, model, year, price, color) VALUES
('Audi', 'A4', 1995, 25000, 'Red'),
('Ford', 'Focus', 2000, 18000, 'Blue'),
('Toyota', 'Corolla', 1991, 21000, 'White'),
('BMW', 'X5', 2001, 55000, 'Black'),
('Ford', 'Mustang', 2021, 40000, 'Yellow'),
('Tesla', 'Model 3', 2022, 45000, NULL);